.csv filter=lfs diff=lfs merge=lfs -text
Main/SiameseNeuralNetworkProject/MachineLearningAlgorithmSuite/CleanedData/** filter=lfs diff=lfs merge=lfs -text
Main/SiameseNeuralNetworkProject/MachineLearningAlgorithmSuite/CleanedData/** filter=lfs diff=lfs merge=lfs -text
